<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Sample Post</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<h1> [CryptoChallenge] Basic Stego 2 - Solution </h1>
					<p>I'm sure you all have solved this last crypto challenge, but in case you don't . This is a short write up on how to get the hidden message.</p>

<p>You can use different tools to achieve what is described below. I'm going to use GNU/Linux command-line tools to get the message out of the file. Let's go.</p>

<h1>Looking into the image</h1>

<p>First we have to be able to take a look to the contents of that noisy image. For easily doing this, I will use the <code>convert</code> tool from the ImageMagick package and convert the original grey-scale <code>PNG</code> into a plain <code>PGM</code>:</p>

<p><code>$ convert stego2.png stego2.pgm</code></p>

<p>The <code>.PGM</code> format is quite convenient because it contains all the data uncompressed just after a small header. This really simplifies the access to the pixels without writing any code or use special tools. So, the <code>PGM</code> file  looks like this:</p>

<pre><code>$ head -c 30 stego2.pgm
P5
653 55
255
-FLAC-
fLaC</code></pre>

<p>The value 30 is just a random number (I already know which value have to put there :P), but, as you can see the header is around that size.</p>

<p>We can see the initial format identifier <code>P5</code>. Then we find the image dimension and finally the pixel encoding format. In this case, <code>255</code> means that each pixel is 1 byte (256 values). </p>

<h1>FLAC</h1>

<p>Those are the contents of the standard <code>PGM</code> header. The string <code>-FLAC-</code> we find just next is actually the value of the first 5 pixels in the image. If you do not know what FLAC is, you can do a quick search on the web.</p>

<p>If you are lazy like me, keep reading. FLAC ( <a href="https://en.wikipedia.org/wiki/FLAC" rel="nofollow">https://en.wikipedia.org/wiki/FLAC</a> ) is an audio file format supporting lossless compression. That makes sense. Compression will obfuscate the original message and the lossless nature of the file format will allow us to use bit masking techniques like the ones we already know ( <a href="https://0x00sec.org/t/cryptochallenge-basic-stego-making-of-spoiler-warning/620">https://0x00sec.org/t/cryptochallenge-basic-stego-making-of-spoiler-warning/620</a>)</p>

<p>If you take a look to a FLAC file, you will find out that the format uses a magic string at the beginning of the file. That is common to many file format. The magic bytes for the FLAC format are <code>fLaC</code>. That is the string just after the first <code>-FLAC-</code>... So, let's ignore the first <code>-FLAC-</code> that does not fit the FLAC format, and let's extract what follows.</p>

<h1>An audio file</h1>

<p>To get the FLAC file our of our PGM image we have to first find out the offset to the data we are interested on and then dump that data into a file:</p>

<pre><code>$ xxd stego2 | head -n 5
0000000: 5035 0a36 3533 2035 350a 3235 350a 2d46  P5.653 55.255.-F
0000010: 4c41 432d 0a66 4c61 4300 0000 2210 0010  LAC-.fLaC..."...
0000020: 0000 0575 001c b902 b110 f000 0053 fd80  ...u.........S..
0000030: 09c2 40f2 b686 21da 8ead 18cf e8e9 e103  ..@...!.........
0000040: 0000 1200 0000 0000 0000 0000 0000 0000  ................</code></pre>

<p>Just counting, we find out that the offset (the beginning of <code>fLaC</code> string) is at 22 bytes from the beginning of the file. Let's extract the file:</p>

<pre><code>$ tail -c +22 stego2.pgm &gt; stego2.flac
$ play stego2.flac
stego2.flac:

 File Size: 35.9k     Bit Rate: 147k
  Encoding: FLAC          Info: Processed by SoX
  Channels: 1 @ 16-bit
Samplerate: 11025Hz
Replaygain: off
  Duration: 00:00:01.95

In:95.3% 00:00:01.86 [00:00:00.09] Out:20.5k [!=====|=====!]        Clip:0
Done.
play WARN flac: decoder MD5 checksum mismatch.</code></pre>

<p>You should hear some audio when playing back the flac file. </p>

<h1>Accessing Audio Samples</h1>

<p>Now that we have our audio file, let's look into it. The FLAC format is compressed. Do not waste time dumping the file. We have to uncompress it to ne able to look at what is inside.</p>

<p>For doing this, we are going to use the <code>sox</code> tool. This is a really handy command-line audio tool, that can convert between different audio formats and do some transformation to the audio stream. One of the formats it supports is raw samples.... that format looks convenient.</p>

<pre><code>$ sox steog2.flac stego2.raw 
$ xxd stego2.raw | head</code></pre>

<p>You should now be able to read the message, however as I used 16bits to encode the audio samples, and used the 8 lower bits to store the message, you have to skip one out of two chars or do some little programming/scripting to read the message.</p>
				</div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<p class="copyright text-muted">Copyright &copy; <a href="https://0x00sec.org/">0x00sec</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
