<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>/dev/0x00sec - <%= $title %></title>

<style type=text/css>body{background-color: #1f1f1f; margin:40px auto;max-width:700px;text-align:justify;line-height:1.6;font-sizie:16px;color:#fff;padding:0 10px}h1,h2,h3{line-height:1.2}a{color: #1793d1; text-decoration: none;}a:hover{color: #cad0c4}</style>
</head>
<h1>/dev/0x00sec</h1>
<%= $body %>
<!---
<a href="0x10 - Fixing gabelstaplerwm to make it production-ready and other tweaks">0x10 - Fixing gabelstaplerwm to make it production-ready and other tweaks</a><br/> -->
</body>
</html>
